<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ErgonTech_Tabular>
            <version>0.1.0</version>
        </ErgonTech_Tabular>
    </modules>
    <global>
        <models>
            <ergontech_tabular>
                <class>ErgonTech_Tabular_Model</class>
            </ergontech_tabular>
        </models>
        <helpers>
            <ergontech_tabular>
                <class>ErgonTech_Tabular_Helper</class>
            </ergontech_tabular>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ErgonTech_Tabular before="Mage_Adminhtml">ErgonTech_Tabular_Adminhtml</ErgonTech_Tabular>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>
