<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ErgonTech_Tabular>
            <version>0.1.0</version>
        </ErgonTech_Tabular>
    </modules>

    <global>
        <models>
            <ergontech_tabular>
                <class>ErgonTech_Tabular_Model</class>
                <resourceModel>ergontech_tabular_resource</resourceModel>
            </ergontech_tabular>
            <ergontech_tabular_resource>
                <class>ErgonTech_Tabular_Model_Resource</class>
                <entities>
                    <import_profile>
                        <table>tabular_import_profile</table>
                    </import_profile>
                </entities>
            </ergontech_tabular_resource>
        </models>
        <helpers>
            <ergontech_tabular>
                <class>ErgonTech_Tabular_Helper</class>
            </ergontech_tabular>
        </helpers>
        <resources>

        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ErgonTech_Tabular before="Mage_Adminhtml">ErgonTech_Tabular_Adminhtml</ErgonTech_Tabular>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <tabular>
            <general>
                <enabled>1</enabled>
            </general>
        </tabular>
    </default>

</config>
