<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ErgonTech_Tabular>
            <version>0.1.0</version>
        </ErgonTech_Tabular>
    </modules>

    <global>
        <models>
            <ergontech_tabular>
                <class>ErgonTech\Tabular\Model</class>
                <resourceModel>ergontech_tabular_resource</resourceModel>
            </ergontech_tabular>
            <ergontech_tabular_resource>
                <class>ErgonTech\Tabular\Model\Resource</class>
                <entities>
                    <profile>
                        <table>tabular_profile</table>
                    </profile>
                    <profile_store>
                        <table>tabular_profile_store</table>
                    </profile_store>
                </entities>
            </ergontech_tabular_resource>
            <core>
                <rewrite>
                    <layout>ErgonTech_Tabular_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <helpers>
            <ergontech_tabular>
                <class>ErgonTech\Tabular\Helper</class>
            </ergontech_tabular>
        </helpers>
        <resources>
            <ergontech_tabular_setup>
                <setup>
                    <module>ErgonTech_Tabular</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ergontech_tabular_setup>
        </resources>
        <blocks>
            <ergontech_tabular>
                <class>ErgonTech\Tabular\Block</class>
            </ergontech_tabular>
        </blocks>

        <ergontech>
            <tabular>
                <profile>
                    <type>
                        <cms_block_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Entity_Import</class>
                            <entity><![CDATA[cms/block]]></entity>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                                <row_transform_callback>
                                    <input>select</input>
                                    <label>Row Transformation Options</label>
                                    <options>
                                        <leave_alone>
                                            <label>Do not modify</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_RowTransforms::returnSelf]]></callback>
                                        </leave_alone>
                                    </options>
                                </row_transform_callback>
                            </extra>
                        </cms_block_import>
                        <enterprise_banner_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Entity_Import</class>
                            <entity><![CDATA[enterprise_banner/banner]]></entity>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                                <row_transform_callback>
                                    <input>select</input>
                                    <label>Row Transformation Options</label>
                                    <options>
                                        <enterprise_banner>
                                            <label>Enterprise Banner row transform</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_RowTransforms::enterpriseBannerRowTransform]]></callback>
                                        </enterprise_banner>
                                    </options>
                                </row_transform_callback>
                            </extra>
                        </enterprise_banner_import>
                        <widget_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Entity_Import</class>
                            <entity><![CDATA[widget/widget_instance]]></entity>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                                <widget_type>
                                    <input>select</input>
                                    <label>Widget Type</label>
                                    <source_model>ergontech_tabular/source_widget_type</source_model>
                                </widget_type>
                                <row_transform_callback>
                                    <input>select</input>
                                    <label>Row Transformation Options</label>
                                    <options>
                                        <widget_default>
                                            <label>Preserve Widget Options</label>
                                            <callback><![CDATA[\ErgonTech\Tabular\Helper_RowTransforms::widgetRowTransform]]></callback>
                                        </widget_default>
                                        <leave_alone>
                                            <label>Do not modify</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_RowTransforms::returnSelf]]></callback>
                                        </leave_alone>
                                    </options>
                                </row_transform_callback>
                            </extra>
                        </widget_import>
                        <widget_layout_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Entity_Import</class>
                            <entity><![CDATA[widget/widget_instance]]></entity>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <entity_specification_separator>
                                    <input>text</input>
                                    <label>Entity Specification Separator</label>
                                    <comment><![CDATA[Used to separate "entity name" from "attribute" from "value"<br/>For example: "catalog/product:sku:123" would have an "entity specification separator of ":" and refer to the product with a SKU of "123"]]></comment>
                                </entity_specification_separator>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                                <row_transform_callback>
                                    <input>select</input>
                                    <label>Row Transformation Options</label>
                                    <options>
                                        <widget_layout_default>
                                            <label>Widget layout transform</label>
                                            <callback><![CDATA[\ErgonTech\Tabular\Helper_RowTransforms::widgetLayoutRowTransform]]></callback>
                                        </widget_layout_default>
                                        <leave_alone>
                                            <label>Do not modify</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_RowTransforms::returnSelf]]></callback>
                                        </leave_alone>
                                    </options>
                                </row_transform_callback>
                            </extra>
                        </widget_layout_import>
                        <product_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Product_Import</class>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                            </extra>
                        </product_import>
                        <product_categorization>
                            <class>ErgonTech\Tabular\Model_Profile_Type_ProductCategorization</class>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <product_categorization_mapper>
                                            <label>Product Categorization Header Mapper</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::productCategorizationMapping]]></callback>
                                        </product_categorization_mapper>
                                    </options>
                                </header_transform_callback>
                            </extra>
                        </product_categorization>
                        <category_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Category_Import</class>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                        <category_type_matcher>
                                            <label>Category mapper</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::categoryHeaderMapping]]></callback>
                                        </category_type_matcher>
                                    </options>
                                </header_transform_callback>
                            </extra>
                        </category_import>
                        <tabular_profile_import>
                            <class>ErgonTech\Tabular\Model_Profile_Type_Entity_Import</class>
                            <entity><![CDATA[ergontech_tabular/profile]]></entity>
                            <extra>
                                <spreadsheet_id>
                                    <input>text</input>
                                    <label>Spreadsheet ID</label>
                                    <comment><![CDATA[<a target="_blank" href="http://webapps.stackexchange.com/questions/74205/what-is-the-key-in-my-google-spreadsheets-url">Info</a> on finding your spreadsheet key.]]></comment>
                                </spreadsheet_id>
                                <header_named_range translate="label">
                                    <input>text</input>
                                    <label>Header Named Range</label>
                                </header_named_range>
                                <data_named_range>
                                    <input>text</input>
                                    <label>Data Named Range</label>
                                </data_named_range>
                                <header_transform_callback>
                                    <input>select</input>
                                    <label>Header Column Transform Options</label>
                                    <options>
                                        <spaces_to_underscores_and_lowercase>
                                            <label>Normalize Header for Magento</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_HeaderTransforms::normalizeHeader]]></callback>
                                        </spaces_to_underscores_and_lowercase>
                                    </options>
                                </header_transform_callback>
                                <row_transform_callback>
                                    <input>select</input>
                                    <label>Row Transformation Options</label>
                                    <options>
                                        <tabular_profile_transform>
                                            <label>Transform for Tabular Profiles</label>
                                            <callback><![CDATA[ErgonTech\Tabular\Helper_RowTransforms::tabularProfileTransform]]></callback>
                                        </tabular_profile_transform>
                                    </options>
                                </row_transform_callback>
                            </extra>
                        </tabular_profile_import>
                    </type>
                </profile>
            </tabular>
        </ergontech>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ErgonTech_Tabular before="Mage_Adminhtml">ErgonTech_Tabular_Adminhtml</ErgonTech_Tabular>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ergontech_tabular>
                    <file>ergontech/tabular.xml</file>
                </ergontech_tabular>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <tabular>
            <google_api>
                <api_key backend_model="adminhtml/system_config_backend_encrypted"/>
            </google_api>
            <general>
                <enabled>1</enabled>
            </general>
        </tabular>
    </default>

</config>
