<?xml version="1.0"?>
<!--
/**
 * @category    ErgonTech
 * @package     ErgonTech_Tabular
 * @license     proprietary
 * @author      Matthew Wells <matthew@ergon.tech>
 */
-->
<config>
    <sections>
        <tabular translate="label" module="ergontech_tabular">
            <label>Tabular Data Processor</label>
            <tab>service</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </general>
                <google_api translate="label">
                    <label>Google API Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <type translate="label">
                            <label>API Access Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ergontech_tabular/source_google_api_type</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <api_key translate="label">
                            <label>Access Data</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[For Public API access, nothing more than an API key is needed. For access to a private sheet copy the contents of a service account JSON file here. See <a target="_blank" href="http://karl.kranich.org/2015/04/16/google-sheets-api-php/">here</a> for more info.]]></comment>
                        </api_key>
                    </fields>
                </google_api>
                <security>
                    <label>Security</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <entity_specification_method_whitelist translate="label">
                            <label>Entity Specification Method Whitelist</label>
                            <frontend_model>ergontech_tabular/adminhtml_system_config_form_field_array</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <comment>Use regular expressions to allow method calls through the entity specification whitelist</comment>
                        </entity_specification_method_whitelist>
                    </fields>
                </security>
            </groups>
        </tabular>
    </sections>
</config>
